ErrorDocument 404 "/index.php?er=404"
ErrorDocument 401 "/index.php?er=401"
ErrorDocument 403 "/index.php?er=403"
ErrorDocument 500 "/index.php?er=500"


RedirectMatch ^/admin/$ /index.php?er=401
RedirectMatch ^/addons/$ /index.php?er=403
RedirectMatch ^/fonts/$ /index.php?er=403
RedirectMatch ^/func/$ /index.php?er=401
RedirectMatch ^/pages/$ /index.php?er=403
RedirectMatch ^/parts/$ /index.php?er=403
RedirectMatch ^/templates/$ /index.php?er=403

DirectoryIndex index.php

Options -Indexes +FollowSymLinks

Order Deny,Allow
Allow from host

<Files "admin.php"> 
Allow from all 
</Files>
<Files ".htaccess"> 
Allow from all 
</Files>
<Files ~ "\.(js|css|jpeg|jpg|png|ttf|gif)$">
Allow from all 
</Files>

#RewriteEngine On
#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
