/*-----------------------*/
/* Nikola Nejedlý - 2017 */
/*-----------------------*/

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
text-align:center;
font-family: 'Fira Sans', sans-serif;
overflow-y:  scroll;
overflow-x:  hidden;
background-color: #CEC4B5;
background-image: none;
}

/* body + footer PART | typography */


#bodyfoot { 
vertical-align: top;
display:	block;
top: 		120px; 
width: 		100%;  
left:		0%; 
position:	absolute; 
min-height: 100%;
/*min-height:	Calc( 100vh - 12px	);*/
overflow: 	hidden;
}

pre code * {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
pre code
{
	position: relative;
	display: block;
	min-height: 80px;
	height: fit-content;
}

.error_img
{
	 position: absolute;
	 display: block;
	 background: none;
	 float: none;
	 border:none;
	 right: 0;
	 top: -10px;
	 width: 600px;
}


/*-----------------------------------------------------------------------------------*/
/*@media only screen and (max-width: 768px) { 


[class*="col-"] {
	width: 100%;
}
*/