/*-----------------------*/
/* Nikola Nejedlý - 2017 */
/*-----------------------*/

body{
text-align:center;
font-family: 'Fira Sans', sans-serif;
background-color: #FFF;
}
::-moz-selection {
	color: #999;
	background: #222;
}

#toptitle{
	height:0;
	overflow:hidden;
} 

.left { text-align:left; }

a:link {color: #D00; text-decoration: none;} 
a:visited {color: #D33; text-decoration: none;}
a:hover {color: #000090; text-decoration: underline;} 


#navbar
{
	position:absolute;
	height:0;
	overflow:hidden;
}
.language{
	position: absolute;
	height:0;
	overflow:hidden;
}
img{
	position: absolute;
	height:0;
	overflow:hidden;
	}

#bodyfoot { 
vertical-align: top;
display:	block;
top: 		10px; 
width: 		100%;  
left:		0%; 
position:	absolute; 
min-height:	Calc( 100% - 120px );	
overflow: 	hidden;
}

.text_area { 
position: relative; 
top: 0px;
width: 80%;  
min-width:400px; 
left:5%; 
min-height: 200px;	
background-color: white;
overflow: hidden;
}

.text_area #txt {
position: relative;
z-index:  1000;
text-align: left;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 24px;
padding-top: 10px;
display:block;
}
.text_area p, .text_area p+p:first-letter{
font-family: 'Kelly Slab', georgia, serif;
text-align: justify;
text-indent: 14px;
margin: 0;
font-size: 14px;
}
.text_area p:first-child {
text-indent: 50px;
}
.text_area p:first-letter {
 font-family: 'Cormorant SC', times, Times New Roman, times-roman, georgia, serif;
 font-size: 22px;
 font-weight: bold;
}
.text_area p+p, .text_area p+p:first-letter{
 font-size: 14px;
 font-weight: normal;
 text-indent: 4px;
 margin: 0px;
 margin-top: 2px;
}
.text_area h1,h2,h3,h4 {
text-align: left;
margin:0;
margin-top:10px;
margin-bottom:5px;
}

.text_area h1{
 font-family: 'IM Fell English SC', times, Times New Roman, times-roman, georgia, serif;
 color: #111;
 margin: 0;
 padding: 0px 0px 6px 0px;
 font-size: 51px;
 line-height: 34px;
 letter-spacing: -2px;
 font-weight: bold;
 padding-left: 0px;
}

.text_area h2{
 font-family: 'Cormorant SC', times, Times New Roman, times-roman, georgia, serif;
 letter-spacing: -1px;
 font-size: 30px;
 font-weight: bold;
 padding-left: 15px;
}

.text_area h3{
 font-family: 'Monofett', times, Times New Roman, times-roman, georgia, serif;
 letter-spacing: 1px;
 font-size: 25px;
 font-weight: normal;
 padding-left: 18px;
}

.text_area h4{
 font-family: 'Aladin', times, Times New Roman, times-roman, georgia, serif;
 letter-spacing: 0px;
 font-size: 24px;
 font-weight: bold;
 padding-left: 22px;
}

.text_area img{
	display:block;
	float:right;
	position:relative;
	margin: 10px;
	margin-left: 15px;
	margin-top:  0px;
	margin-bottom: 20px;
	border: 1px solid #000;
	background-color: #135;
	padding:1px;
}

.foot{
	height:0;
	overflow:hidden;
}

blockquote{

	height:0;
	overflow:hidden;
	}
blockquote:before {
	display: block;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: 10px;
	top: -45px;
	color: #7a7a7a;
}
blockquote cite:before {
	content: "- ";
}
blockquote cite {
	text-align: right;
	color: #888;
	font-size: 10px;
	display: block;
	margin-top: 5px;
}



