.text_area{
	min-height: Calc( 100vh - 120px - 32px - 12px - 3px - 3px );
}
footer{
	posit
	display:block;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 18px;
	color: white;
	background: linear-gradient(rgba(255,0,0,0), black);
	text-decoration: none;
	padding: 3px 0 0 0;
	margin: 0;
	font-size: 10px;
}
.footing{
	display: inline-block;
	text-align: left;
	width: Calc( 50% - 5% - 5% );
	top: 0;
	float: left;
	padding-left: 5%;
	padding-top: 3px;
}
.KSSWF{
	display: inline-block;
	text-align: right;
	width: Calc( 50% - 5% - 5% );
	top: 0;
	padding-right: 5%;
	padding-top: 3px;
	float: right;
}
.KSSWF a{color: #84D3FF;}