/*-----------------------*/
/* Nikola Nejedlý - 2018 */
/*-----------------------*/

/*RESETOR - START*/
.text_area h1,.text_area h2,.text_area h3,.text_area h4,.text_area h5,.text_area h6,
.text_area#txt h1,.text_area#txt h2,.text_area#txt h3,.text_area#txt h4,.text_area#txt h5,.text_area#txt h6
{
	text-align: left;
	margin:0;
	margin-top:10px;
	margin-bottom:5px;
	text-decoration: none;
	font-weight: 400;
}
/*RESETOR - END*/

.text_area h1,
.text_area#txt h1
{
	display: block;
	position: relative;
	font-family: 'Kelly Slab', monospace;
	color: #111;
	margin: 0;
	padding-bottom: 0px;
	margin-bottom: 15px;
	left: -32px; 
	z-index: 5;
	font-size: 32px;
	line-height: 32px;
	font-weight: 900;
	padding-left: 0px;
	text-decoration: none;
	border: 2px black solid;
	width: fit-content;
	background-color: #ffc760;
	padding: 3px;
}

.text_area h2,
.text_area#txt h2
{
	font-family: 'Kelly Slab', monospace;
	font-size: 25px;
	left: -32px; 
	display: block;
	position: relative;
	padding: 4px;
	padding-right: 15px;
	border-bottom: black 2px solid;
	border-left: black 2px solid;
	width: fit-content;
	background: linear-gradient(to right, #dc0000d1, #ff5448ad 20px, transparent);
}

.text_area h3,
.text_area#txt h3
{
	font-family: 'Kelly Slab', monospace;
	font-size: 25px;
	left: -32px; 
	display: block;
	position: relative;
	padding: 4px;
	padding-right: 15px;
	border-bottom: black 2px solid;
	border-left: black 2px solid;
	width: fit-content;
	background: linear-gradient(to right, #dc8500, #ffc760 20px, transparent);
}

.text_area h4,
.text_area#txt h4
{
	font-family: 'Kelly Slab', monospace;
	font-size: 25px;
	left: -32px; 
	display: block;
	position: relative;
	padding: 4px;
	padding-right: 15px;
	border-bottom: black 2px solid;
	border-left: black 2px solid;
	width: fit-content;
	background: linear-gradient(to right, #008adc, #60dfff 20px, transparent);
}