/*--------------------------------------*/
/*            Nikola Nejedlý            */
/*                 2018                 */
/*--------------------------------------*/


.loadicon
{
	color: white;
	display: block;
	position: fixed;
	z-index: 50001;
	left: 50vw;
	top: 50vh;
}