/*-----------------------*/
/* Nikola Nejedlý - 2017 */
/*-----------------------*/

.header
{
	position: 	absolute;
	display:	block;
	top:		0;
	width: 	100vw;
	height: auto;
	left: 	0;
	background:black;
	text-align: center;
	font-size: 24px;
	font-family: "Open Sans", sans-serif;
}
.header a img
{
	margin: 	0;
	position:	relative;
	padding: 	5px 5px 5px 5px;
	z-index: 	2050;
	height: 	60px;
	background:	orange;
	border: 	3px black solid;
	transition: all 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
	width: 		auto;
	top: 		0;
	left: 		0;
}

.header a img:hover
{
	opacity: 0.7;
}