/*-----------------------*/
/* Nikola Nejedlý - 2018 */
/*-----------------------*/

body
{
	
}

#bodyfoot { 
vertical-align: top;
display:	block;
top: 		120px; 
width: 		100%;  
left:		0%; 
position:	absolute; 
min-height: 100%;
/*min-height:	Calc( 100vh - 12px	);*/
overflow: 	hidden;
}

hr, .text_area hr
{
	display: block;
	width: 100%;
	height: 0px;
	color: black;
	background: black;
	border-bottom: 1px solid black;
	margin-top: 5px;
	margin-bottom: 5px;
}

.text_area 
{ 
	position: relative; 
	top: 44px;
	min-width: 400px; 
	max-width: 1280px; 
	left: Calc( 10% ); 
	width: Calc( 80% );
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	background-color: transparent;
}

.text_area #txt
{
	min-height: 200px;
	background-color: #ffffff;
	border-left: 2px solid;
	border-right: 2px solid;
	font-family: inherit;
	position: relative;
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 24px;
	padding-top: 10px;
	display:block;
}

.text_area#txt /* THIS ONLY APPLIES TO ADMIN EDITOR */
{
	left: 0px;
	width: Calc( 100% - 60px );
	font-family: inherit;
	position: relative;
	text-align: left;
	padding-left: 30px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-left: 2px solid;
	border-right: 2px solid;
	background-color: #ffffff;
	overflow: auto;
}
.text_area#txt img /* THIS ONLY APPLIES TO ADMIN EDITOR */
{
	max-height: 100%;
	max-width: 100%;
}
.text_area#txt i,
.text_area#txt b,
.text_area#txt strong,
.text_area#txt p,
.text_area#txt ul,
.text_area#txt ol,
.text_area#txt li/* THIS ONLY APPLIES TO ADMIN EDITOR */
{
	font-family: inherit;
}


.text_area p
{
	font-family: inherit;
	text-align: justify;
	text-indent: 2px;
	margin: 0;
	font-size: 14px;
}
.text_area p:first-child 
{
	text-indent: 50px;
}
.text_area p+p
{
	font-family: inherit;
	font-size: 14px;
	font-weight: normal;
	text-indent: 2px;
	margin: 0px;
	margin-top: 2px;
}
