/*-----------------------*/
/* Nikola Nejedlý - 2018 */
/*-----------------------*/

.center
{
	margin: 	0px;
	padding:	0px;
	float:		none;
	text-align: center;
}

.r_column{
	display:		inline-block;
	width: 			Calc( 49% );	
	right: 			0;	
	padding-left: 	5px;
	top: 			0;
	vertical-align: top;
	margin-left: 	-3px;
}
.r_column_small{
	display: 		inline-block;
	width: 			Calc( 24% );	
	right: 			0;	
	left: 			initial;
	padding-left: 	15px;
	top: 			0;
	vertical-align: top;
}
.r_column_big{
	display: 		inline-block;
	width: 			Calc( 74% );	
	right: 			0;	
	top: 			0;
	vertical-align: top;
	margin-left: 	-3px;
}
.l_column{
	display: 		inline-block;
	width: 			Calc( 49% );	
	left: 			0;	
	padding-right: 	5px;
	top: 			0;
	vertical-align: top;
}
.l_column_small{
	display: 		inline-block;
	width: 			Calc( 24% );	
	left: 			0;	
	padding-right: 	15px;
	top: 			0;
	vertical-align: top;
}
.l_column_big{
	display: 		inline-block;
	width: 			Calc( 74% );	
	left: 			0;	
	right: 			initial;
	top: 			0;
	vertical-align: top;
	margin-right: 	-3px;
}

.hover-invert,
.hover-invert50
{
	filter: invert(0%);
	-webkit-transition: all 200ms ease-in-out;
    transition:	all 200ms ease-in-out;
}
.hover-invert:hover
{
	filter: invert(100%);
}
.hover-invert50:hover
{
	filter: invert(50%);
}

.h_admin
{
}
.h_admin .button
{
}

pre code * {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
pre code
{
	position: relative;
	display: block;
	min-height: 80px;
	height: fit-content;
}


.left 		{ text-align: 	left; 			}
.right		{ text-align: 	right;			}
.floatleft 	{ float: 		left; 			}
.floatright	{ float: 		right;			}

.full_w 	{ width: 		100%; 			}
.full_h 	{ height: 		100%; 			}
.full_vw 	{ width: 		100vw;			}
.full_vh 	{ height: 		100vh;			}

.null_m		{ margin: 		0;				}
.null_p		{ padding: 		0;				}
.null_border{ border: 		none;			}
.null_bg	{ background:	none;			}
.null_bg_col{ background-color:		none;	}
.null_float { float:		none;			}

