/* Edited for KSSWF purpose */

/* box */
.box-content {
    padding:20px;
    background-color: #EFEFEF;
}


textarea 
{
    background-color: #efd1a4;
    border:     #000000 solid 1px;
    color:      #333;
}


/* richtext custom style */
.richText {
    margin: 0;
    margin-top: -9px;
    margin-bottom: -25px;
    -webkit-box-shadow: 0 0 20px 0 #999;
    -moz-box-shadow: 0 0 20px 0 #999;
    box-shadow: 0 0 20px 0 #999;
    min-width: Calc(100% + 60px);
    left: -31px;
    border: black 2px solid;
}
.richText .richText-editor
{
    background-color: hsla(36, 50%, 80%, 1);
    padding: 2px 32px 32px 32px;
    height: Calc(100vh - 170px);
    margin: 0;
}

.to_edit.richText-initial
{
    color: darkturquoise;
    background: black;
    padding: 2px 0px 32px 2px;
    height: Calc(100vh - 170px);
    text-decoration: none; 
}

.richText-toolbar 
{
    background:black;
    color: lightgrey;
}
.richText-toolbar ul
{
    padding: 0;
    margin: 0;
    border: none;
}
.richText-toolbar li
{
    padding: 0;
    margin: 0;
    border: none;
}
.richText-toolbar ul a:hover svg
{
    color: #543400;
}

.richText a         {color: #bbbbbb;}
.richText a:hover   {color: white;}